* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}
.header {
  padding: 20px;
  text-align: center;
  background: lightblue;
  color: white;
}
.header h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 20px;
}
.header p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}
.main0 {
  flex: 50%;
  margin: auto;
  padding: 20px;
}
.main0 p {
  font-weight: bold;
  font-family: serif;
  text-align: center;
}
.main0 h1 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding: 30px;
  border: 3px solid black;
  font-family: serif;
}
.main {
  display: flex;
  flex: 50%;
  flex-flow: column wrap;
  justify-content: space-evenly;
  background-color: #ededed;
  align-content: center;
  width: 100%;
}
.main h1 {
  margin: 20px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.login-choice {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  align-content: center;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.choice {
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 30px;
}
.choice:hover{
  opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  .main0 {
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: lightblue;
  width: 100%;
}
