* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}
.header {
  padding: 10px;
  text-align: center;
  background: lightblue;
  color: white;
}
.header h1 {
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 20px;
}
.header p{
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 10px;
}

.row {  
  display: flex;
  flex-wrap: wrap;
  background-color:#f7f7f7; 
}
.main0 {
  flex: 50%;
  margin: auto;
  padding: 20px;
}
.main0 p{
  font-weight: bold;
  font-family: serif;
  text-align: center;
}
.main0 h1{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding: 30px;
  border: 3px solid black;
  font-family: serif;
}
.main {
  flex: 50%;
  background-color: #fff;
  padding: 20px;
}
.main h1{
  text-align: center;
  margin-bottom: 10px;
}

.main form {
  border: 3px solid #f1f1f1;
  width: 100%;
  margin: 20px auto 20px auto;
}

/*selain type checkbox*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

input[type=submit] {
  background-color: lightblue;
  color: #fff;
  padding: 14px 20px;
  margin: 35px 0px;
  cursor: pointer;
  border: 1px solid #f7f7f7;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  background-color: #bae7ff;
}
.container {
  padding: 25px;
}
span.password {
  float: right;
}
span.password a {
  text-decoration: none;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .main0{
    display: block;
    
  }
  .main{
    display: block;
  }
  span.password {
     display: block;
     float: none;
  }
}

.footer {
  padding: 20px;
  text-align: center;
  background: lightblue;
}